@model CinePreview.Data.Entidades.Genero

@{
    ViewData["Title"] = "Edit";
}

<h5> Editar Genero</h5>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class=" btn btn-sm btn-primary">Guardar</button>
                <a asp-action="Index" class=" btn btn-sm btn-success">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

